@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.a01 {
    height: 100dvh;
    width: 99dvw;
    display: flex;
    align-content: center;
    justify-content: center;
}
.block {
    width: 100%;
    max-width: 600px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #D6D3D1;
    margin: 30px;
    border: 3px solid black;
    border-radius: 9px;
    height: auto;
}
h2 {
    text-align: center;
    background-color: black;
    color: #D6D3D1;
    padding: 10px;
}
p {
    padding: 10px;
}
.block >ul {
    padding-left: 30px;
}
.card {
    overflow-wrap: break-word;
}